* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e6e6e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.container {
    width: 960px;
    margin: auto;
}

 a {
    text-decoration: none;
    color: #1E4F63;
}

/* /////////////////////////////////////////////// */

.logo {
    padding: 1em;
    vertical-align: middle;
}
.logo a {
    height: 3em;
}
.logo p {
    float: right;
    font-size: 1.3em;
    margin-top: 1.5em;
    color: #1E4F63;
    text-align: right;
}

/* /////////////////////////////////////////////// */

nav {
    width: 100%;
    color: #009FE3;
    background-color: #1E4F63;
    padding: 0.7em;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 0.3em 1.5em;
}
nav a {
    text-decoration: none;
    color: #009FE3;
}

nav a:hover {
    color: white;
    border-top: 2px solid #009FE3;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* /////////////////////////////////////////////// */

.marci {
    text-align: center;
    margin-top: 1em;

}
.marci li{
    display: inline;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.marci img {
    height: 4em;
}

/* /////////////////////////////////////////////// */

.banner {
    width: 100%;
    /* background-color: #4A5A25; */
}
.banner img{
    margin-top: 20px;
    border-radius: 10px;
}

/* /////////////////////////////////////////////// */

table {
    border: 2px solid #B8C341;
    border-radius: 10px;
    margin: 2em 0;
}

/* /////////////////////////////////////////////// */

/* #footer {
    width: 700px;
    border: 2px solid #B8C341;

} */



.social {
    text-align: center;
    padding: 0.5em;
}
.social a{
    color: #4A5A25;
    font-size: 2em;
}
.social a i {
    padding: 0.5em;
}

/* /////////////////////////////////////////////// */

hr { 
    margin: 2em;
    text-align: center;
}
.dezabonare {
    font-size: 12px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
