/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0em;
} */
body {
    background-color: rgb(50, 68, 68);
    color: rgb(196, 189, 129);
    font-family: sans-serif;
}
div {
    width: 70%;
    padding: 5em;
    color: rgb(196, 189, 129);
    font-family: sans-serif;
    /* background-color: olive; */
    margin: auto;
}
p {
    display: inline;
    font-size: 1.2em;
}
#song {
    font-style: italic;
}
#artist {
    font-weight: bold;
}
h2 {
    color: rgb(196, 189, 129);
    font-size: 2.5em;
}