* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: sans-serif;
}
nav {
    background-color: rgb(230, 123, 58);
    text-align: right;
}
li {
    display: inline-block;
    padding: 0.3em 0.5em;
}
a {
    text-decoration: none;
    color: white;
}
nav li:first-child {
    font-size: 1.2em;
}
#home {
    background-image: url(headerback.jpg);
    height: 100vh;
    /* vh: view height 
       vw: view width
    - se raporteaza la fereastra monitorului (nu mai tine cont de parinte)
    min 2:17 */
}