* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(62, 35, 27);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tan;
}
.container {
    width: 70%;
    margin: auto;
}

/* /////////////////////////////////////////////// */

.logo {
    padding: 1em;
    vertical-align: top;
}
.logo img {
    height: 4em;
}
.logo p {
    display: inline;
    /* float: right; */
    margin-bottom: 2em;
}
.logo :first-child {
    color: rgb(217, 215, 197);
    font-size: 2em;
    font-family: 'Alfa Slab One', cursive;
}.logo :nth-child(2) {
    font-size: 0.8em;
}

/* /////////////////////////////////////////////// */

nav {
    background-color: rgb(53, 31, 22);
    padding: 0.7em;
}
nav li {
    display: inline-block;
    padding: 0.3em 0.5em;
}
a {
    text-decoration: none;
    color: white;
}

/* /////////////////////////////////////////////// */

.verde {
    background-color: rgb(144, 168, 133);
    padding: 1em;
    color: white;
    /* height: 170px; */
}
.text {
    /* display: inline-block;
    vertical-align: top; */
    width: 80%;
    float: right;
}
.verde img {
    width: 15%;
}
.text h2 {
    font-family: 'Alfa Slab One', cursive;
}


/* /////////////////////////////////////////////// */

.stanga {
    /* position: relative; */
    width: 20%;
    height: 700px;
    background-color: rgb(156, 173, 171);
    margin-top: 0.5em;
    float: left;
}

.stanga li {
    padding: 0.5em;
    margin: 0.2em;
    width: 50%;
    list-style: none;
}

/* /////////////////////////////////////////////// */

.content {
    float: right;
    width: 80%;
    height: 700px;
    margin-top: 0.5em;
    background-color: rgb(217, 215, 197);
    color: rgb(53, 31, 22);
}
.content p {
    padding: 1em;
}
.content h2 {
    padding: 1em;
    font-family: 'Alfa Slab One', cursive;
}