a {
    color: cornflowerblue;
    font-size: 2em;
    text-decoration: none;
    margin-left: 2em;
}
a:link {

}
a:visited {
    color: darkred;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: darkgray;
}
::selection {
    background-color: darksalmon;
}
/* ::first-line {
    text-transform: uppercase; */
}
::first-letter {
    text-transform: lowercase;
}

.magic {
    display: none;
    position: absolute;
    top: 1em;
    background-color: #eee;
    border-radius: 5px;
}
.dropdown {
    position: absolute;
    background-color: lightskyblue;
    padding: 20px;
}
.dropdown:hover .magic {
    display: block;
}
.trans {
    background-color: darksalmon;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: rotate(30deg) scale(0.5, 0.5);
    /* transition: transform 2s, background-color 1s; */
}
/* daca punem tranzitia pe hover se intampla DOAR cand punem mouse-ul pe element,
daca il lasam pe div tranzitia se aplica la toate elementele div-ului */

.trans:hover {
    background-color: darkslateblue;
    transition: transform 2s, background-color 1s;
}

.trans2 {
    color: cornsilk;
    background-color: cornflowerblue;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 30px;
    transform: rotate(720deg);
    transform-origin: top left;
    transition: transform 3s;
    transition-delay: 1s;
}