div {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 20%;
    background-color: darkorange;
    text-align: center;
    line-height: 200px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    border-radius: 50%;
    
}
 div:hover {
     animation-play-state: paused;
     
 }


@keyframes rotate {
    from {
        transform: rotate(0deg);
        left: 0%;
        top: 20%;
    }
    50% {
        top: 90%;
    }
    to {
        transform: rotate(360deg);
        left: 100%;
        top: 20%;
    }
}




 /* div:hover {
     animation-name: rotate;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 } */
