* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: #251a08;
}
header {
    width: 100%;
    background-color: burlywood;
    margin: auto;
    padding: 1em;
    text-align: right;
}
header a {
    color:#251a08;
    text-decoration: none;
}
li {
    display: inline-block;
    padding: 1em 2em;
}
#logo {
    position: absolute;
    width: 15em;
    display: block;
    text-align: left;
    margin-left: 3em;
}
ul {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
article {
    padding: 3em;
    text-align: center;

}
h1 {
    font-size: 2em;
    color: burlywood;
    padding-bottom: 3em;
}
p {
    color: burlywood;
    padding: 2em;
    font-weight: lighter;
}





footer {
    height: 10em;
    background-color: #251a08;
    text-align: center;
    color: burlywood;
    padding-top: 2em;
}