body {
    background-color: cornsilk;
    height: 2000px;
}
div div {
    width: 100px;
    height: 100px;
    color: cornsilk;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
div div:first-child {
    background-color: cadetblue;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}
div div:nth-child(2) {
    background-color: darkred;
    position: fixed;
    top: 10%;
    left: 50%;
}
div div:nth-child(3){
    background-color: deeppink;
    position: sticky;
    top: 5%;
    left: 40%;
}
div div:last-child {
    background-color: rgb(30, 123, 210);
    position: relative;
    bottom: 20px;
    left: 50%;
}
.container {
    background-color: rgb(240, 212, 140);
    width: 300px;
    height: 500px;
    position: relative;
    left: 30%;
}
