body {
  background-color: #DFCEB4;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
}
h1 {
  color: #8B4513;
  font-family: sans-serif;
  font-size: 30px;
}
h2 {
  color: #8B4513;
  font-family: sans-serif;
  font-size: 36px;
}
h3 {
  color: #8B4513;
  font-family: sans-serif;
}
.tea {
  color: 8B4513;
}
.coffee {
  color: #8B4513;
  
}
.citat {
  color: #8B4513;
  font-family: sans-serif;
  font-style: oblique;
}
span {
  color: #8B4513;
}
#special {
  color: #8B4513;
}
